{% extends 'layouts/base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tenetur 
            veritatis necessitatibus sunt architecto reiciendis ipsa delectus minus aliquid nemo esse voluptas 
            eveniet libero ratione cum quos laboriosam commodi inventore magni, natus, amet, totam dolorem accusamus 
            nulla! Minima libero eum quas, explicabo perferendis voluptas voluptate dignissimos. Rerum, velit 
            deleniti, corrupti iste possimus dicta perspiciatis assumenda modi adipisci consequuntur nihil totam,
            aspernatur quibusdam expedita aut in architecto nostrum voluptate sapiente soluta id nam eos sequi? Eum 
            cum consectetur voluptates, perferendis eos possimus quisquam doloribus sint modi impedit esse nesciunt?
            Aut commodi qui voluptatum dicta rerum. Nisi est rem dolorum ipsa eius.</p>
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">Signin</a>
                <a class="btn btn-dark" href="/signup/">Signup</a>
            </div>
        </section>
    </main>

{% endblock %}